

### Step 1. Import the necessary libraries

In [2]:
import pandas as pd
import numpy as np

### Step 2. Import the dataset Euro_2012_stats_TEAM

### Step 3. Assign it to a variable called euro12.

In [3]:
euro12 = pd.read_csv("Euro_2012_stats_TEAM.csv")
data = pd.DataFrame(euro12)

### Step 4. Select only the Goal column.

In [4]:
goal = data['Goals']
goal

0      4.0
1      4.0
2      4.0
3      5.0
4      3.0
5     10.0
6      5.0
7      6.0
8      2.0
9      2.0
10     6.0
11     1.0
12     5.0
13    12.0
14     5.0
15     2.0
16     NaN
17     NaN
18     NaN
19     NaN
Name: Goals, dtype: float64

### Step 5. How many team participated in the Euro2012?

In [5]:
data = data.drop([16,17,18,19])
len(data['Team'])

16

### Step 6. What is the number of columns in the dataset?

In [6]:
len(data.columns)

35

### Step 7. View only the columns Team, Yellow Cards and Red Cards and assign them to a dataframe called discipline

In [7]:
discipline = data[['Team','Yellow Cards','Red Cards']]
discipline

                   Team  Yellow Cards  Red Cards
0               Croatia           9.0        0.0
1        Czech Republic           7.0        0.0
2               Denmark           4.0        0.0
3               England           5.0        0.0
4                France           6.0        0.0
5               Germany           4.0        0.0
6                Greece           9.0        1.0
7                 Italy          16.0        0.0
8           Netherlands           5.0        0.0
9                Poland           7.0        1.0
10             Portugal          12.0        0.0
11  Republic of Ireland           6.0        1.0
12               Russia           6.0        0.0
13                Spain          11.0        0.0
14               Sweden           7.0        0.0
15              Ukraine           5.0        0.0

### Step 8. Sort the teams by Red Cards, then to Yellow Cards

In [8]:
d = discipline[['Team','Red Cards']]
sorting_by_redcards = d.sort_values(by=['Red Cards'],ascending=False)
print(sorting_by_redcards.reset_index())
print()
x = discipline[['Team','Yellow Cards']]
sorting_by_yellowcards = x.sort_values(by=['Yellow Cards'],ascending=False)
print(sorting_by_yellowcards.reset_index())

    index                 Team  Red Cards
0       6               Greece        1.0
1       9               Poland        1.0
2      11  Republic of Ireland        1.0
3       0              Croatia        0.0
4       1       Czech Republic        0.0
5       2              Denmark        0.0
6       3              England        0.0
7       4               France        0.0
8       5              Germany        0.0
9       7                Italy        0.0
10      8          Netherlands        0.0
11     10             Portugal        0.0
12     12               Russia        0.0
13     13                Spain        0.0
14     14               Sweden        0.0
15     15              Ukraine        0.0

    index                 Team  Yellow Cards
0       7                Italy          16.0
1      10             Portugal          12.0
2      13                Spain          11.0
3       0              Croatia           9.0
4       6               Greece           9.0
5       1       Czech Republic           7.0
6       9               Poland           7.0
7      14               Sweden           7.0
8       4               France           6.0
9      11  Republic of Ireland           6.0
10     12               Russia           6.0
11      3              England           5.0
12      8          Netherlands           5.0
13     15              Ukraine           5.0
14      2              Denmark           4.0
15      5              Germany           4.0

### Step 9. Calculate the mean Yellow Cards given per Team

In [9]:
mean_value = data.mean(axis='rows',skipna=False)
mean_value['Yellow Cards']

7.4375

### Step 10. Filter teams that scored more than 6 goals

In [10]:
filter_teams = data[data['Goals']>6]
filter_teams['Team']

5     Germany
13      Spain
Name: Team, dtype: object

### Step 11. Select the teams that start with G

In [11]:
print("Teams start with G:")
for i in range(0,16):
    if data['Team'][i][0] == 'G':
            G = data['Team'][i]
            print(G)

Teams start with G:
Germany
Greece

### Step 12. Select the first 7 columns

In [12]:
dcol = data.columns[0:7]
dcol

Index(['Team', 'Goals', 'Shots on target', 'Shots off target',
       'Shooting Accuracy', '% Goals-to-shots', 'Total shots (inc. Blocked)'],
      dtype='object')

### Step 13. Select all columns except the last 3.

In [13]:
data.columns[:32]

Index(['Team', 'Goals', 'Shots on target', 'Shots off target',
       'Shooting Accuracy', '% Goals-to-shots', 'Total shots (inc. Blocked)',
       'Hit Woodwork', 'Penalty goals', 'Penalties not scored', 'Headed goals',
       'Passes', 'Passes completed', 'Passing Accuracy', 'Touches', 'Crosses',
       'Dribbles', 'Corners Taken', 'Tackles', 'Clearances', 'Interceptions',
       'Clearances off line', 'Clean Sheets', 'Blocks', 'Goals conceded',
       'Saves made', 'Saves-to-shots ratio', 'Fouls Won', 'Fouls Conceded',
       'Offsides', 'Yellow Cards', 'Red Cards'],
      dtype='object')

### Step 14. Present only the Shooting Accuracy from England, Italy and Russia

In [14]:
y = data[['Team','Shooting Accuracy']]
for i in range(0,16):
    if y["Team"][i] == "England" or  y["Team"][i] == 'Italy' or y["Team"][i] == 'Russia':
        print(y['Team'][i],y['Shooting Accuracy'][i])

England 50.00%
Italy 43.00%
Russia 22.50%

### Step 15. Use apply method on Goal Column to make a new column called Performance, using following conditions

1. If Goals are less than or equal to 2, peformance is **Below Avg**
2. If Goals are more than 2 and less than or equal to 5, peformance is **Average**
3. If Goals are more than 5 and less than or equal to 10, peformance is **Above Average**
4. If Goals are more than 10 then peformance is **Excellent**